In [1]:

# install pyodbc on python 3.10.11
# https://stackoverflow.com/questions/67660014/pyodbc-installation-error-on-python-3-10-0

# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install json
# !pip install pyodbc

import pandas as pd
import pyodbc

drivers=pyodbc.drivers()

for i in drivers:
    print(i)

SQL Server
ODBC Driver 17 for SQL Server
MySQL ODBC 8.0 ANSI Driver
MySQL ODBC 8.0 Unicode Driver
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)
ODBC Driver 18 for SQL Server

In [2]:
# connect to the Northwind database with the following credentials

server = 'localhost,1433'

database = 'Northwind'

username = 'sa'

password = 'yourStrong(!)Password'

docker_Northwind = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

cursor = docker_Northwind.cursor()

cursor.execute("SELECT @@version;") 

row = cursor.fetchone()

print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>',)

In [3]:

my_cursor = pd.DataFrame(cursor.execute("SELECT * FROM Customers;"))
for i in my_cursor.iterrows():
    print(i)

# print(type(my_cursor))
print(my_cursor)

(0, 0    [ALFKI, Alfreds Futterkiste, Maria Anders, Sal...
Name: 0, dtype: object)
(1, 0    [ANATR, Ana Trujillo Emparedados y helados, An...
Name: 1, dtype: object)
(2, 0    [ANTON, Antonio Moreno Taquería, Antonio Moren...
Name: 2, dtype: object)
(3, 0    [AROUT, Around the Horn, Thomas Hardy, Sales R...
Name: 3, dtype: object)
(4, 0    [BERGS, Berglunds snabbköp, Christina Berglund...
Name: 4, dtype: object)
(5, 0    [BLAUS, Blauer See Delikatessen, Hanna Moos, S...
Name: 5, dtype: object)
(6, 0    [BLONP, Blondesddsl père et fils, Frédérique C...
Name: 6, dtype: object)
(7, 0    [BOLID, Bólido Comidas preparadas, Martín Somm...
Name: 7, dtype: object)
(8, 0    [BONAP, Bon app', Laurence Lebihan, Owner, 12,...
Name: 8, dtype: object)
(9, 0    [BOTTM, Bottom-Dollar Markets, Elizabeth Linco...
Name: 9, dtype: object)
(10, 0    [BSBEV, B's Beverages, Victoria Ashworth, Sale...
Name: 10, dtype: object)
(11, 0    [CACTU, Cactus Comidas para llevar, Patricio S...
Name: 11, dtype: object)
(12, 0    [CENTC, Centro comercial Moctezuma, Francisco ...
Name: 12, dtype: object)
(13, 0    [CHOPS, Chop-suey Chinese, Yang Wang, Owner, H...
Name: 13, dtype: object)
(14, 0    [COMMI, Comércio Mineiro, Pedro Afonso, Sales ...
Name: 14, dtype: object)
(15, 0    [CONSH, Consolidated Holdings, Elizabeth Brown...
Name: 15, dtype: object)
(16, 0    [DRACD, Drachenblut Delikatessen, Sven Ottlieb...
Name: 16, dtype: object)
(17, 0    [DUMON, Du monde entier, Janine Labrune, Owner...
Name: 17, dtype: object)
(18, 0    [EASTC, Eastern Connection, Ann Devon, Sales A...
Name: 18, dtype: object)
(19, 0    [ERNSH, Ernst Handel, Roland Mendel, Sales Man...
Name: 19, dtype: object)
(20, 0    [FAMIA, Familia Arquibaldo, Aria Cruz, Marketi...
Name: 20, dtype: object)
(21, 0    [FISSA, FISSA Fabrica Inter. Salchichas S.A., ...
Name: 21, dtype: object)
(22, 0    [FOLIG, Folies gourmandes, Martine Rancé, Assi...
Name: 22, dtype: object)
(23, 0    [FOLKO, Folk och fä HB, Maria Larsson, Owner, ...
Name: 23, dtype: object)
(24, 0    [FRANK, Frankenversand, Peter Franken, Marketi...
Name: 24, dtype: object)
(25, 0    [FRANR, France restauration, Carine Schmitt, M...
Name: 25, dtype: object)
(26, 0    [FRANS, Franchi S.p.A., Paolo Accorti, Sales R...
Name: 26, dtype: object)
(27, 0    [FURIB, Furia Bacalhau e Frutos do Mar, Lino R...
Name: 27, dtype: object)
(28, 0    [GALED, Galería del gastrónomo, Eduardo Saaved...
Name: 28, dtype: object)
(29, 0    [GODOS, Godos Cocina Típica, José Pedro Freyre...
Name: 29, dtype: object)
(30, 0    [GOURL, Gourmet Lanchonetes, André Fonseca, Sa...
Name: 30, dtype: object)
(31, 0    [GREAL, Great Lakes Food Market, Howard Snyder...
Name: 31, dtype: object)
(32, 0    [GROSR, GROSELLA-Restaurante, Manuel Pereira, ...
Name: 32, dtype: object)
(33, 0    [HANAR, Hanari Carnes, Mario Pontes, Accountin...
Name: 33, dtype: object)
(34, 0    [HILAA, HILARION-Abastos, Carlos Hernández, Sa...
Name: 34, dtype: object)
(35, 0    [HUNGC, Hungry Coyote Import Store, Yoshi Lati...
Name: 35, dtype: object)
(36, 0    [HUNGO, Hungry Owl All-Night Grocers, Patricia...
Name: 36, dtype: object)
(37, 0    [ISLAT, Island Trading, Helen Bennett, Marketi...
Name: 37, dtype: object)
(38, 0    [KOENE, Königlich Essen, Philip Cramer, Sales ...
Name: 38, dtype: object)
(39, 0    [LACOR, La corne d'abondance, Daniel Tonini, S...
Name: 39, dtype: object)
(40, 0    [LAMAI, La maison d'Asie, Annette Roulet, Sale...
Name: 40, dtype: object)
(41, 0    [LAUGB, Laughing Bacchus Wine Cellars, Yoshi T...
Name: 41, dtype: object)
(42, 0    [LAZYK, Lazy K Kountry Store, John Steel, Mark...
Name: 42, dtype: object)
(43, 0    [LEHMS, Lehmanns Marktstand, Renate Messner, S...
Name: 43, dtype: object)
(44, 0    [LETSS, Let's Stop N Shop, Jaime Yorres, Owner...
Name: 44, dtype: object)
(45, 0    [LILAS, LILA-Supermercado, Carlos González, Ac...
Name: 45, dtype: object)
(46, 0    [LINOD, LINO-Delicateses, Felipe Izquierdo, Ow...
Name: 46, dtype: object)
(47, 0    [LONEP, Lonesome Pine Restaurant, Fran Wilson,...
Name: 47, dtype: object)
(48, 0    [MAGAA, Magazzini Alimentari Riuniti, Giovanni...
Name: 48, dtype: object)
(49, 0    [MAISD, Maison Dewey, Catherine Dewey, Sales A...
Name: 49, dtype: object)
(50, 0    [MEREP, Mère Paillarde, Jean Fresnière, Market...
Name: 50, dtype: object)
(51, 0    [MORGK, Morgenstern Gesundkost, Alexander Feue...
Name: 51, dtype: object)
(52, 0    [NORTS, North/South, Simon Crowther, Sales Ass...
Name: 52, dtype: object)
(53, 0    [OCEAN, Océano Atlántico Ltda., Yvonne Moncada...
Name: 53, dtype: object)
(54, 0    [OLDWO, Old World Delicatessen, Rene Phillips,...
Name: 54, dtype: object)
(55, 0    [OTTIK, Ottilies Käseladen, Henriette Pfalzhei...
Name: 55, dtype: object)
(56, 0    [PARIS, Paris spécialités, Marie Bertrand, Own...
Name: 56, dtype: object)
(57, 0    [PERIC, Pericles Comidas clásicas, Guillermo F...
Name: 57, dtype: object)
(58, 0    [PICCO, Piccolo und mehr, Georg Pipps, Sales M...
Name: 58, dtype: object)
(59, 0    [PRINI, Princesa Isabel Vinhos, Isabel de Cast...
Name: 59, dtype: object)
(60, 0    [QUEDE, Que Delícia, Bernardo Batista, Account...
Name: 60, dtype: object)
(61, 0    [QUEEN, Queen Cozinha, Lúcia Carvalho, Marketi...
Name: 61, dtype: object)
(62, 0    [QUICK, QUICK-Stop, Horst Kloss, Accounting Ma...
Name: 62, dtype: object)
(63, 0    [RANCH, Rancho grande, Sergio Gutiérrez, Sales...
Name: 63, dtype: object)
(64, 0    [RATTC, Rattlesnake Canyon Grocery, Paula Wils...
Name: 64, dtype: object)
(65, 0    [REGGC, Reggiani Caseifici, Maurizio Moroni, S...
Name: 65, dtype: object)
(66, 0    [RICAR, Ricardo Adocicados, Janete Limeira, As...
Name: 66, dtype: object)
(67, 0    [RICSU, Richter Supermarkt, Michael Holz, Sale...
Name: 67, dtype: object)
(68, 0    [ROMEY, Romero y tomillo, Alejandra Camino, Ac...
Name: 68, dtype: object)
(69, 0    [SANTG, Santé Gourmet, Jonas Bergulfsen, Owner...
Name: 69, dtype: object)
(70, 0    [SAVEA, Save-a-lot Markets, Jose Pavarotti, Sa...
Name: 70, dtype: object)
(71, 0    [SEVES, Seven Seas Imports, Hari Kumar, Sales ...
Name: 71, dtype: object)
(72, 0    [SIMOB, Simons bistro, Jytte Petersen, Owner, ...
Name: 72, dtype: object)
(73, 0    [SPECD, Spécialités du monde, Dominique Perrie...
Name: 73, dtype: object)
(74, 0    [SPLIR, Split Rail Beer & Ale, Art Braunschwei...
Name: 74, dtype: object)
(75, 0    [SUPRD, Suprêmes délices, Pascale Cartrain, Ac...
Name: 75, dtype: object)
(76, 0    [THEBI, The Big Cheese, Liz Nixon, Marketing M...
Name: 76, dtype: object)
(77, 0    [THECR, The Cracker Box, Liu Wong, Marketing A...
Name: 77, dtype: object)
(78, 0    [TOMSP, Toms Spezialitäten, Karin Josephs, Mar...
Name: 78, dtype: object)
(79, 0    [TORTU, Tortuga Restaurante, Miguel Angel Paol...
Name: 79, dtype: object)
(80, 0    [TRADH, Tradição Hipermercados, Anabela Doming...
Name: 80, dtype: object)
(81, 0    [TRAIH, Trail's Head Gourmet Provisioners, Hel...
Name: 81, dtype: object)
(82, 0    [VAFFE, Vaffeljernet, Palle Ibsen, Sales Manag...
Name: 82, dtype: object)
(83, 0    [VICTE, Victuailles en stock, Mary Saveley, Sa...
Name: 83, dtype: object)
(84, 0    [VINET, Vins et alcools Chevalier, Paul Henrio...
Name: 84, dtype: object)
(85, 0    [WANDK, Die Wandernde Kuh, Rita Müller, Sales ...
Name: 85, dtype: object)
(86, 0    [WARTH, Wartian Herkku, Pirkko Koskitalo, Acco...
Name: 86, dtype: object)
(87, 0    [WELLI, Wellington Importadora, Paula Parente,...
Name: 87, dtype: object)
(88, 0    [WHITC, White Clover Markets, Karl Jablonski, ...
Name: 88, dtype: object)
(89, 0    [WILMK, Wilman Kala, Matti Karttunen, Owner/Ma...
Name: 89, dtype: object)
(90, 0    [WOLZA, Wolski  Zajazd, Zbyszek Piestrzeniewic...
Name: 90, dtype: object)
                                                    0
0   [ALFKI, Alfreds Futterkiste, Maria Anders, Sal...
1   [ANATR, Ana Trujillo Emparedados y helados, An...
2   [ANTON, Antonio Moreno Taquería, Antonio Moren...
3   [AROUT, Around the Horn, Thomas Hardy, Sales R...
4   [BERGS, Berglunds snabbköp, Christina Berglund...
..                                                ...
86  [WARTH, Wartian Herkku, Pirkko Koskitalo, Acco...
87  [WELLI, Wellington Importadora, Paula Parente,...
88  [WHITC, White Clover Markets, Karl Jablonski, ...
89  [WILMK, Wilman Kala, Matti Karttunen, Owner/Ma...
90  [WOLZA, Wolski  Zajazd, Zbyszek Piestrzeniewic...

[91 rows x 1 columns]

In [4]:
# another style

cursor.execute("SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME= N'Customers';")

rows=cursor.fetchall()

df = pd.DataFrame([tuple(row) for row in rows], columns=[column[0] for column in cursor.description])
print(df)

   TABLE_CATALOG TABLE_SCHEMA TABLE_NAME   COLUMN_NAME  ORDINAL_POSITION
0      Northwind          dbo  Customers    CustomerID                 1  \
1      Northwind          dbo  Customers   CompanyName                 2
2      Northwind          dbo  Customers   ContactName                 3
3      Northwind          dbo  Customers  ContactTitle                 4
4      Northwind          dbo  Customers       Address                 5
5      Northwind          dbo  Customers          City                 6
6      Northwind          dbo  Customers        Region                 7
7      Northwind          dbo  Customers    PostalCode                 8
8      Northwind          dbo  Customers       Country                 9
9      Northwind          dbo  Customers         Phone                10
10     Northwind          dbo  Customers           Fax                11

   COLUMN_DEFAULT IS_NULLABLE DATA_TYPE  CHARACTER_MAXIMUM_LENGTH
0            None          NO     nchar                         5  \
1            None          NO  nvarchar                        40
2            None         YES  nvarchar                        30
3            None         YES  nvarchar                        30
4            None         YES  nvarchar                        60
5            None         YES  nvarchar                        15
6            None         YES  nvarchar                        15
7            None         YES  nvarchar                        10
8            None         YES  nvarchar                        15
9            None         YES  nvarchar                        24
10           None         YES  nvarchar                        24

    CHARACTER_OCTET_LENGTH  ... DATETIME_PRECISION CHARACTER_SET_CATALOG
0                       10  ...               None                  None  \
1                       80  ...               None                  None
2                       60  ...               None                  None
3                       60  ...               None                  None
4                      120  ...               None                  None
5                       30  ...               None                  None
6                       30  ...               None                  None
7                       20  ...               None                  None
8                       30  ...               None                  None
9                       48  ...               None                  None
10                      48  ...               None                  None

   CHARACTER_SET_SCHEMA CHARACTER_SET_NAME COLLATION_CATALOG COLLATION_SCHEMA
0                  None            UNICODE              None             None  \
1                  None            UNICODE              None             None
2                  None            UNICODE              None             None
3                  None            UNICODE              None             None
4                  None            UNICODE              None             None
5                  None            UNICODE              None             None
6                  None            UNICODE              None             None
7                  None            UNICODE              None             None
8                  None            UNICODE              None             None
9                  None            UNICODE              None             None
10                 None            UNICODE              None             None

                  COLLATION_NAME DOMAIN_CATALOG DOMAIN_SCHEMA DOMAIN_NAME
0   SQL_Latin1_General_CP1_CI_AS           None          None        None
1   SQL_Latin1_General_CP1_CI_AS           None          None        None
2   SQL_Latin1_General_CP1_CI_AS           None          None        None
3   SQL_Latin1_General_CP1_CI_AS           None          None        None
4   SQL_Latin1_General_CP1_CI_AS           None          None        None
5   SQL_Latin1_General_CP1_CI_AS           None          None        None
6   SQL_Latin1_General_CP1_CI_AS           None          None        None
7   SQL_Latin1_General_CP1_CI_AS           None          None        None
8   SQL_Latin1_General_CP1_CI_AS           None          None        None
9   SQL_Latin1_General_CP1_CI_AS           None          None        None
10  SQL_Latin1_General_CP1_CI_AS           None          None        None

[11 rows x 23 columns]

In [5]:
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME= N'Customers';")

rows=cursor.fetchall()

for row in rows:

    print(row)

('Northwind', 'dbo', 'Customers', 'CustomerID', 1, None, 'NO', 'nchar', 5, 10, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'CompanyName', 2, None, 'NO', 'nvarchar', 40, 80, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'ContactName', 3, None, 'YES', 'nvarchar', 30, 60, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'ContactTitle', 4, None, 'YES', 'nvarchar', 30, 60, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Address', 5, None, 'YES', 'nvarchar', 60, 120, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'City', 6, None, 'YES', 'nvarchar', 15, 30, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Region', 7, None, 'YES', 'nvarchar', 15, 30, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'PostalCode', 8, None, 'YES', 'nvarchar', 10, 20, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Country', 9, None, 'YES', 'nvarchar', 15, 30, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Phone', 10, None, 'YES', 'nvarchar', 24, 48, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Fax', 11, None, 'YES', 'nvarchar', 24, 48, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)

In [6]:
# read a tab;e as a pandas dataframe

df_cust = pd.read_sql_query("SELECT * FROM Customers;", docker_Northwind)

C:\Users\mrkel\AppData\Local\Temp\ipykernel_9064\1258928602.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cust = pd.read_sql_query("SELECT * FROM Customers;", docker_Northwind)

In [7]:
# using sqlalchemy to connect to the database

import sqlalchemy as db
from sqlalchemy import create_engine
import pandas as pd

# create the engine
# connection_string = 'mssql+pyodbc://username:password@server/database?driver=ODBC+Driver 17 for SQL Server'
connection_string = 'mssql+pyodbc://sa:yourStrong(!)Password@localhost:1433/Northwind?driver=ODBC+Driver+17+for+SQL+Server'
# Create a SQLAlchemy engine object
engine = create_engine(connection_string)
conn = engine.connect()



# read a table as a pandas dataframe
df_cust = pd.read_sql_query("SELECT * FROM Customers;", conn)

In [8]:
print(df_cust)

   CustomerID                         CompanyName              ContactName
0       ALFKI                 Alfreds Futterkiste             Maria Anders  \
1       ANATR  Ana Trujillo Emparedados y helados             Ana Trujillo
2       ANTON             Antonio Moreno Taquería           Antonio Moreno
3       AROUT                     Around the Horn             Thomas Hardy
4       BERGS                  Berglunds snabbköp       Christina Berglund
..        ...                                 ...                      ...
86      WARTH                      Wartian Herkku         Pirkko Koskitalo
87      WELLI              Wellington Importadora            Paula Parente
88      WHITC                White Clover Markets           Karl Jablonski
89      WILMK                         Wilman Kala          Matti Karttunen
90      WOLZA                      Wolski  Zajazd  Zbyszek Piestrzeniewicz

                 ContactTitle                        Address         City
0        Sales Representative                  Obere Str. 57       Berlin  \
1                       Owner  Avda. de la Constitución 2222  México D.F.
2                       Owner                Mataderos  2312  México D.F.
3        Sales Representative                120 Hanover Sq.       London
4         Order Administrator                Berguvsvägen  8        Luleå
..                        ...                            ...          ...
86         Accounting Manager                    Torikatu 38         Oulu
87              Sales Manager             Rua do Mercado, 12      Resende
88                      Owner    305 - 14th Ave. S. Suite 3B      Seattle
89  Owner/Marketing Assistant                  Keskuskatu 45     Helsinki
90                      Owner                ul. Filtrowa 68     Warszawa

   Region PostalCode  Country           Phone             Fax
0    None      12209  Germany     030-0074321     030-0076545
1    None      05021   Mexico    (5) 555-4729    (5) 555-3745
2    None      05023   Mexico    (5) 555-3932            None
3    None    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4    None   S-958 22   Sweden   0921-12 34 65   0921-12 34 67
..    ...        ...      ...             ...             ...
86   None      90110  Finland      981-443655      981-443655
87     SP  08737-363   Brazil   (14) 555-8122            None
88     WA      98128      USA  (206) 555-4112  (206) 555-4115
89   None      21240  Finland     90-224 8858     90-224 8858
90   None     01-012   Poland   (26) 642-7012   (26) 642-7012

[91 rows x 11 columns]

In [27]:
# query the database using pandas
# get only the customer ID and company name from the customers table

df_cust = pd.read_sql_query("SELECT CustomerID, CompanyName FROM Customers;", conn)

print(df_cust)

   CustomerID                         CompanyName
0       ALFKI                 Alfreds Futterkiste
1       ANATR  Ana Trujillo Emparedados y helados
2       ANTON             Antonio Moreno Taquería
3       AROUT                     Around the Horn
4       BERGS                  Berglunds snabbköp
..        ...                                 ...
86      WARTH                      Wartian Herkku
87      WELLI              Wellington Importadora
88      WHITC                White Clover Markets
89      WILMK                         Wilman Kala
90      WOLZA                      Wolski  Zajazd

[91 rows x 2 columns]

In [28]:


# get all orders from France

df_french_orders = pd.read_sql_query("SELECT * FROM Orders WHERE ShipCountry='France';", conn, index_col='OrderID')
print(df_french_orders)

        CustomerID  EmployeeID  OrderDate RequiredDate ShippedDate  ShipVia
OrderID
10248        VINET           5 1996-07-04   1996-08-01  1996-07-16        3  \
10251        VICTE           3 1996-07-08   1996-08-05  1996-07-15        1
10265        BLONP           2 1996-07-25   1996-08-22  1996-08-12        1
10274        VINET           6 1996-08-06   1996-09-03  1996-08-16        1
10295        VINET           2 1996-09-02   1996-09-30  1996-09-10        2
...            ...         ...        ...          ...         ...      ...
10972        LACOR           4 1998-03-24   1998-04-21  1998-03-26        2
10973        LACOR           6 1998-03-24   1998-04-21  1998-03-27        2
11043        SPECD           5 1998-04-22   1998-05-20  1998-04-29        2
11051        LAMAI           7 1998-04-27   1998-05-25         NaT        3
11076        BONAP           4 1998-05-06   1998-06-03         NaT        2

         Freight                   ShipName             ShipAddress
OrderID
10248      32.38  Vins et alcools Chevalier      59 rue de l'Abbaye  \
10251      41.34       Victuailles en stock      2, rue du Commerce
10265      55.28       Blondel père et fils        24, place Kléber
10274       6.01  Vins et alcools Chevalier      59 rue de l'Abbaye
10295       1.15  Vins et alcools Chevalier      59 rue de l'Abbaye
...          ...                        ...                     ...
10972       0.02       La corne d'abondance  67, avenue de l'Europe
10973      15.17       La corne d'abondance  67, avenue de l'Europe
11043       8.80       Spécialités du monde       25, rue Lauriston
11051       2.79           La maison d'Asie   1 rue Alsace-Lorraine
11076      38.28                   Bon app'    12, rue des Bouchers

           ShipCity ShipRegion ShipPostalCode ShipCountry
OrderID
10248         Reims       None          51100      France
10251          Lyon       None          69004      France
10265    Strasbourg       None          67000      France
10274         Reims       None          51100      France
10295         Reims       None          51100      France
...             ...        ...            ...         ...
10972    Versailles       None          78000      France
10973    Versailles       None          78000      France
11043         Paris       None          75016      France
11051      Toulouse       None          31000      France
11076     Marseille       None          13008      France

[77 rows x 13 columns]

In [29]:
# send df_french_orders to_sql 

df_french_orders.to_sql('FrenchOrders', conn)

77

In [ ]:
# read_sql
# read_sql_query
# read_sql_table

In [36]:

# perform crud operations on the database
 
# create a function to create a table in the database named traffic_cops
def create_table():
    cursor.execute("CREATE TABLE traffic_cops (id INTEGER PRIMARY KEY, name VARCHAR(20), badge_number INTEGER);")
    docker_Northwind.commit()
    print("Table created successfully")

ObjectNotExecutableError: Not an executable object: 'CREATE TABLE tennessee (id INT NOT NULL IDENTITY(1,1) PRIMARY KEY, name VARCHAR(50), age INT;);'

In [11]:
# write a dataframe to a table in our sql server

df_cust.to_sql("Test_from_Python", docker_Northwind, if_exists='replace', index=False)

C:\Users\mrkel\AppData\Local\Temp\ipykernel_9064\587795806.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cust.to_sql("Test_from_Python", docker_Northwind, if_exists='replace', index=False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW); [42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")