In [2]:
# import modules


from google.cloud import storage
import os
import pandas as pd
import seaborn as sns

In [3]:
# create credentials object using th key file
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "sparta-kel-f6854b3d717d.json"
print(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])
# name of the bucket in GCP
bucket_name = "kels_sparta"
# create a client object to access the storage
storage_client = storage.Client()


# List all buckets
for bucket in storage_client.list_buckets():
    print(bucket.name)

sparta-kel-f6854b3d717d.json
kels_sparta

In [4]:
# ('Connection aborted.', TimeoutError('The write operation timed out')): Increase chunksize
storage.blob._DEFAULT_CHUNKSIZE = 5 * 1024 * 1024
storage.blob._MAX_MULTIPART_SIZE = 5 * 1024 * 1024



# upload a blob to the bucket


def upload_blob(bucket_name, source_file_name, destination_blob_name):
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(destination_blob_name)
    
    blob.upload_from_filename(source_file_name)

    return
upload_blob(bucket_name, "yg821jf8611_tn_statewide_2020_04_01.csv.zip", "statewide.csv.zip")
upload_blob(bucket_name, "yg821jf8611_tn_nashville_2020_04_01.csv.zip", "nashville.csv.zip")

In [5]:
# download a blob from the bucket into a dataframe
def download_blob(bucket_name, source_blob_name):
    bucket = storage_client.bucket(bucket_name)
    blob = bucket.blob(source_blob_name)
    blob.download_to_filename(source_blob_name)
    return

download_blob(bucket_name, "statewide.csv.zip")
download_blob(bucket_name, "nashville.csv.zip")

# unzip the file
import zipfile
with zipfile.ZipFile("statewide.csv.zip", 'r') as zip_ref:
    zip_ref.extractall("statewide")
with zipfile.ZipFile("nashville.csv.zip", 'r') as zip_ref:
    zip_ref.extractall("nashville")

# read the csv files into a dataframe
df_tn_statewide = pd.read_csv("statewide/tn_statewide_2020_04_01.csv")
df_tn_statewide.head()

df_tn_nashville = pd.read_csv("nashville/tn_nashville_2020_04_01.csv")
df_tn_nashville.head()

C:\Users\kelly\AppData\Local\Temp\ipykernel_13764\2220070039.py:22: DtypeWarning: Columns (6,8,15,16,17,22,23,24,25,29,30,31,32,33,35,36,37,38,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tn_nashville = pd.read_csv("nashville/tn_nashville_2020_04_01.csv")

,raw_row_number,date,time,location,lat,lng,precinct,reporting_area,zone,subject_age,...,raw_traffic_citation_issued,raw_misd_state_citation_issued,raw_suspect_ethnicity,raw_driver_searched,raw_passenger_searched,raw_search_consent,raw_search_arrest,raw_search_warrant,raw_search_inventory,raw_search_plain_view
0,232947,2010-10-10,NaN,"DOMINICAN DR & ROSA L PARKS BLVD, NASHVILLE, T...",36.187925,-86.798519,6.0,4403.0,611.0,27.0,...,False,NaN,N,False,False,False,False,False,False,False
1,237161,2010-10-10,10:00:00,"1122 LEBANON PIKE, NASHVILLE, TN, 37210",36.155521,-86.735902,5.0,9035.0,513.0,18.0,...,True,NaN,N,False,False,False,False,False,False,False
2,232902,2010-10-10,10:00:00,"898 DAVIDSON DR, , TN, 37205",36.117420,-86.895593,1.0,5005.0,121.0,52.0,...,False,NaN,N,False,False,False,False,False,False,False
3,233219,2010-10-10,22:00:00,"MURFREESBORO PIKE & NASHBORO BLVD, ANTIOCH, TN...",36.086799,-86.648581,3.0,8891.0,325.0,25.0,...,False,NaN,N,False,False,False,False,False,False,False
4,232780,2010-10-10,01:00:00,"BUCHANAN ST, NORTH, TN, 37208",36.180038,-86.809109,NaN,NaN,NaN,21.0,...,False,NaN,N,True,True,False,False,False,False,False

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>',)

('New',)

In [6]:
# now I have 2 dataframes, i need run a EDA on them to see if they are useful
# first, check the shape of the dataframes
print(df_tn_statewide.shape)
print(df_tn_nashville.shape)

(3829082, 20)
(3092351, 42)

In [7]:
# check the columns of the dataframes
print(df_tn_statewide.columns)
print(df_tn_nashville.columns)

Index(['raw_row_number', 'date', 'time', 'location', 'county_name',
       'subject_race', 'subject_sex', 'department_id', 'department_name',
       'type', 'violation', 'citation_issued', 'outcome', 'vehicle_make',
       'vehicle_model', 'vehicle_year', 'raw_ORIG_TRFC_VIOL_CDE',
       'raw_CNTY_NBR', 'raw_RACE_IND', 'raw_SEX_IND'],
      dtype='object')
Index(['raw_row_number', 'date', 'time', 'location', 'lat', 'lng', 'precinct',
       'reporting_area', 'zone', 'subject_age', 'subject_race', 'subject_sex',
       'officer_id_hash', 'type', 'violation', 'arrest_made',
       'citation_issued', 'warning_issued', 'outcome', 'contraband_found',
       'contraband_drugs', 'contraband_weapons', 'frisk_performed',
       'search_conducted', 'search_person', 'search_vehicle', 'search_basis',
       'reason_for_stop', 'vehicle_registration_state', 'notes',
       'raw_verbal_warning_issued', 'raw_written_warning_issued',
       'raw_traffic_citation_issued', 'raw_misd_state_citation_issued',
       'raw_suspect_ethnicity', 'raw_driver_searched',
       'raw_passenger_searched', 'raw_search_consent', 'raw_search_arrest',
       'raw_search_warrant', 'raw_search_inventory', 'raw_search_plain_view'],
      dtype='object')

In [12]:
# check the data types of the statewide dataframe

for i in df_tn_statewide.columns:
    print(i)
    print(type(df_tn_statewide[i][0]))
#print(df_tn_nashville.dtypes)

raw_row_number
<class 'numpy.int64'>
date
<class 'str'>
time
<class 'str'>
location
<class 'str'>
county_name
<class 'str'>
subject_race
<class 'str'>
subject_sex
<class 'str'>
department_id
<class 'str'>
department_name
<class 'str'>
type
<class 'str'>
violation
<class 'str'>
citation_issued
<class 'numpy.bool_'>
outcome
<class 'str'>
vehicle_make
<class 'str'>
vehicle_model
<class 'str'>
vehicle_year
<class 'numpy.float64'>
raw_ORIG_TRFC_VIOL_CDE
<class 'str'>
raw_CNTY_NBR
<class 'str'>
raw_RACE_IND
<class 'str'>
raw_SEX_IND
<class 'str'>

In [27]:
# lets change the datatypes of the statewide dataframe
df_tn_statewide['date'] = pd.to_datetime(df_tn_statewide['date'])
df_tn_statewide['date'] = df_tn_statewide['date'].dt.date

# change time type to dateTime
df_tn_statewide['time'] = pd.to_datetime(df_tn_statewide['time'])
df_tn_statewide['time'] = df_tn_statewide['time'].dt.time


df_tn_statewide['raw_SEX_IND'] = df_tn_statewide['raw_SEX_IND'].astype('str')


# check the data types of the statewide dataframe

for i in df_tn_statewide.columns:
    print(i)
    print(type(df_tn_statewide[i][0]))

C:\Users\kelly\AppData\Local\Temp\ipykernel_13764\9969787.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_tn_statewide['time'] = pd.to_datetime(df_tn_statewide['time'])

raw_row_number
<class 'numpy.int64'>
date
<class 'datetime.date'>
time
<class 'datetime.time'>
location
<class 'str'>
county_name
<class 'str'>
subject_race
<class 'str'>
subject_sex
<class 'str'>
department_id
<class 'str'>
department_name
<class 'str'>
type
<class 'str'>
violation
<class 'str'>
citation_issued
<class 'numpy.bool_'>
outcome
<class 'str'>
vehicle_make
<class 'str'>
vehicle_model
<class 'str'>
vehicle_year
<class 'numpy.float64'>
raw_ORIG_TRFC_VIOL_CDE
<class 'str'>
raw_CNTY_NBR
<class 'str'>
raw_RACE_IND
<class 'str'>
raw_SEX_IND
<class 'str'>

In [15]:
# check the missing values of the dataframes
print(df_tn_statewide.isnull().sum())
print(df_tn_nashville.isnull().sum())

raw_row_number                  0
date                          225
time                          828
location                  1110177
county_name                 36394
subject_race                30569
subject_sex                  5976
department_id                   0
department_name               823
type                            0
violation                  296022
citation_issued                 0
outcome                         0
vehicle_make                24676
vehicle_model              173345
vehicle_year               211724
raw_ORIG_TRFC_VIOL_CDE          0
raw_CNTY_NBR                    0
raw_RACE_IND                30569
raw_SEX_IND                     0
dtype: int64
raw_row_number                          0
date                                    0
time                                 5467
location                                0
lat                                187106
lng                                187106
precinct                           390222
reporting_area                     332393
zone                               390222
subject_age                           839
subject_race                         1850
subject_sex                         12822
officer_id_hash                        11
type                                    0
violation                            8020
arrest_made                            28
citation_issued                       320
warning_issued                        337
outcome                              1935
contraband_found                  2964646
contraband_drugs                  2964646
contraband_weapons                2964646
frisk_performed                        22
search_conducted                       39
search_person                          43
search_vehicle                         41
search_basis                      2964646
reason_for_stop                      8020
vehicle_registration_state          31791
notes                             2579713
raw_verbal_warning_issued             337
raw_written_warning_issued         493091
raw_traffic_citation_issued           321
raw_misd_state_citation_issued     693814
raw_suspect_ethnicity                  77
raw_driver_searched                    30
raw_passenger_searched                  9
raw_search_consent                     21
raw_search_arrest                      13
raw_search_warrant                      0
raw_search_inventory                    2
raw_search_plain_view                   7
dtype: int64

In [16]:
# check the missing values as a percentage of the total values
state_missing = df_tn_statewide.isnull().sum()/df_tn_statewide.shape[0]
nashville_missing = df_tn_nashville.isnull().sum()/df_tn_nashville.shape[0]

print(state_missing.sort_values(ascending=False))
print(nashville_missing.sort_values(ascending=False))

location                  0.289933
violation                 0.077309
vehicle_year              0.055294
vehicle_model             0.045271
county_name               0.009505
subject_race              0.007983
raw_RACE_IND              0.007983
vehicle_make              0.006444
subject_sex               0.001561
time                      0.000216
department_name           0.000215
date                      0.000059
raw_CNTY_NBR              0.000000
raw_ORIG_TRFC_VIOL_CDE    0.000000
raw_row_number            0.000000
outcome                   0.000000
citation_issued           0.000000
type                      0.000000
department_id             0.000000
raw_SEX_IND               0.000000
dtype: float64
contraband_weapons                9.587029e-01
search_basis                      9.587029e-01
contraband_found                  9.587029e-01
contraband_drugs                  9.587029e-01
notes                             8.342239e-01
raw_misd_state_citation_issued    2.243646e-01
raw_written_warning_issued        1.594551e-01
precinct                          1.261894e-01
zone                              1.261894e-01
reporting_area                    1.074888e-01
lng                               6.050607e-02
lat                               6.050607e-02
vehicle_registration_state        1.028053e-02
subject_sex                       4.146360e-03
violation                         2.593496e-03
reason_for_stop                   2.593496e-03
time                              1.767911e-03
outcome                           6.257375e-04
subject_race                      5.982503e-04
subject_age                       2.713146e-04
raw_verbal_warning_issued         1.089786e-04
warning_issued                    1.089786e-04
raw_traffic_citation_issued       1.038045e-04
citation_issued                   1.034811e-04
raw_suspect_ethnicity             2.490015e-05
search_person                     1.390528e-05
search_vehicle                    1.325852e-05
search_conducted                  1.261176e-05
raw_driver_searched               9.701357e-06
arrest_made                       9.054600e-06
frisk_performed                   7.114328e-06
raw_search_consent                6.790950e-06
raw_search_arrest                 4.203921e-06
officer_id_hash                   3.557164e-06
raw_passenger_searched            2.910407e-06
raw_search_plain_view             2.263650e-06
raw_search_inventory              6.467571e-07
date                              0.000000e+00
type                              0.000000e+00
location                          0.000000e+00
raw_search_warrant                0.000000e+00
raw_row_number                    0.000000e+00
dtype: float64

In [19]:
# check the unique values of the dataframes
print(df_tn_statewide.nunique())
print(df_tn_nashville.nunique())

raw_row_number            3829082
date                         5769
time                         1381
location                   189313
county_name                    94
subject_race                    5
subject_sex                     2
department_id                   3
department_name                 1
type                            1
violation                      24
citation_issued                 1
outcome                         1
vehicle_make                 7778
vehicle_model               46858
vehicle_year                   99
raw_ORIG_TRFC_VIOL_CDE          3
raw_CNTY_NBR                    2
raw_RACE_IND                    9
raw_SEX_IND                     2
dtype: int64
raw_row_number                    3092351
date                                 3370
time                                 1439
location                           100198
lat                                 63293
lng                                 63572
precinct                               17
reporting_area                       2036
zone                                  154
subject_age                            90
subject_race                            6
subject_sex                             2
officer_id_hash                      2294
type                                    1
violation                               8
arrest_made                             2
citation_issued                         2
warning_issued                          2
outcome                                 3
contraband_found                        2
contraband_drugs                        2
contraband_weapons                      2
frisk_performed                         2
search_conducted                        2
search_person                           2
search_vehicle                          2
search_basis                            4
reason_for_stop                         8
vehicle_registration_state             51
notes                              149239
raw_verbal_warning_issued               2
raw_written_warning_issued              2
raw_traffic_citation_issued             2
raw_misd_state_citation_issued          2
raw_suspect_ethnicity                  13
raw_driver_searched                     2
raw_passenger_searched                  2
raw_search_consent                      2
raw_search_arrest                       2
raw_search_warrant                      2
raw_search_inventory                    2
raw_search_plain_view                   2
dtype: int64

In [ ]:
# Features without missing values are:
# date, ,type, citation_issued, outcome, departmanet_id, raw_ORIG_TRFC_VIOL_CDE, raw__CNTY_NBR, raw_ROW_NMR

# missing values that we need are:
# 29% missing in location, I will replace the missing values with "Not_Logged"
# 7.7% missing from violation, 
# 5.5% missing from vehicle_year
# 4.5% missing from vehicle_model
# 1% missing from county_name
# 0.8% missing from raw_RACE_IND
# 0.8% missing from subject_RACE
# 0.6% missing from subject_sex
# 0.02 missing from time
# 0.02% missing from department_name
# 0.0006% missing from date

In [ ]:

# vehicle_year and vehicle type columns can be dropped as not required in our analysis
# drop county_name
# drop raw_RACE_IND, subject_RACE and subject_sex columns
# drop department_name

## violation is required, i will drop the rows with missing values
# remove time and date missing values

In [ ]:
#drop vehicle_year, vehicle_type, county_name columns, raw_RACE_IND, subject_RACE, subject_sex and department_name columns
df_tn_statewide.drop(columns=["vehicle_year", "vehicle_type", "county_name", "raw_RACE_IND", "subject_RACE", "subject_sex", "department_name"], inplace=True)

In [36]:
df_tn_nashville["location"].fillna("Not_Logged", inplace=True)
df_tn_nashville["violation"].fillna("Not_Logged", inplace=True)

# check the missing values of the dataframes
#print(df_tn_statewide.isnull().sum())
print(df_tn_nashville.isnull().sum())

# location now has 0 missing values

raw_row_number                          0
date                                    0
time                                 5467
location                                0
lat                                187106
lng                                187106
precinct                           390222
reporting_area                     332393
zone                               390222
subject_age                           839
subject_race                         1850
subject_sex                         12822
officer_id_hash                        11
type                                    0
violation                               0
arrest_made                            28
citation_issued                       320
warning_issued                        337
outcome                              1935
contraband_found                  2964646
contraband_drugs                  2964646
contraband_weapons                2964646
frisk_performed                        22
search_conducted                       39
search_person                          43
search_vehicle                         41
search_basis                      2964646
reason_for_stop                      8020
vehicle_registration_state          31791
notes                             2579713
raw_verbal_warning_issued             337
raw_written_warning_issued         493091
raw_traffic_citation_issued           321
raw_misd_state_citation_issued     693814
raw_suspect_ethnicity                  77
raw_driver_searched                    30
raw_passenger_searched                  9
raw_search_consent                     21
raw_search_arrest                      13
raw_search_warrant                      0
raw_search_inventory                    2
raw_search_plain_view                   7
dtype: int64

In [28]:
# what type are the values in vehicle_year?
# they are floats, so I will replace the missing values with the mean 
print(type(df_tn_statewide["vehicle_year"][0]))
# change the type of the column to float
df_tn_statewide["vehicle_year"] = df_tn_statewide["vehicle_year"].astype(float)

# # fill vehicle year with the mean
df_tn_statewide["vehicle_year"].fillna(df_tn_statewide["vehicle_year"].mean(), inplace=True)

# # check the missing values of the dataframes
print(df_tn_statewide.isnull().sum())
print(df_tn_nashville.isnull().sum())

<class 'numpy.float64'>
raw_row_number                  0
date                          225
time                          828
location                  1110177
county_name                 36394
subject_race                30569
subject_sex                  5976
department_id                   0
department_name               823
type                            0
violation                  296022
citation_issued                 0
outcome                         0
vehicle_make                24676
vehicle_model              173345
vehicle_year                    0
raw_ORIG_TRFC_VIOL_CDE          0
raw_CNTY_NBR                    0
raw_RACE_IND                30569
raw_SEX_IND                  5976
dtype: int64
raw_row_number                          0
date                                    0
time                                 5467
location                                0
lat                                187106
lng                                187106
precinct                           390222
reporting_area                     332393
zone                               390222
subject_age                           839
subject_race                         1850
subject_sex                         12822
officer_id_hash                        11
type                                    0
violation                               0
arrest_made                            28
citation_issued                       320
warning_issued                        337
outcome                              1935
contraband_found                  2964646
contraband_drugs                  2964646
contraband_weapons                2964646
frisk_performed                        22
search_conducted                       39
search_person                          43
search_vehicle                         41
search_basis                      2964646
reason_for_stop                      8020
vehicle_registration_state          31791
notes                             2579713
raw_verbal_warning_issued             337
raw_written_warning_issued         493091
raw_traffic_citation_issued           321
raw_misd_state_citation_issued     693814
raw_suspect_ethnicity                  77
raw_driver_searched                    30
raw_passenger_searched                  9
raw_search_consent                     21
raw_search_arrest                      13
raw_search_warrant                      0
raw_search_inventory                    2
raw_search_plain_view                   7
dtype: int64

In [41]:
# only need gender, violation, citation, searched, frisked,time, date, arrest_made, drugs, weather


# create a new dataframe with the columns we need
#  'subject_race', 
mydf = df_tn_statewide[['date', 'subject_race','time','subject_sex', 'raw_SEX_IND', 'violation', 'citation_issued', 'outcome' ]]

mydf2 = df_tn_nashville[['date', 'subject_race','time','subject_sex', 'frisk_performed', 'search_conducted', 'search_person','raw_driver_searched', 'violation','warning_issued', 'citation_issued', 'outcome']]

In [42]:
print(mydf.head())
print(mydf2.head())

         date subject_race      time subject_sex raw_SEX_IND
0  2009-05-23        white  12:00:00        male           M  \
1  2009-06-04        white  12:00:00        male           M
2  2009-08-04        white  11:30:00        male           M
3  2009-08-04        white  12:00:00        male           M
4  2009-08-04        white  11:30:00        male           M

                                           violation  citation_issued
0                                           Multiple             True  \
1  Driving while license suspended/allowing susp....             True
2                                  DUI (1st offense)             True
3                                           Multiple             True
4                                           Multiple             True

    outcome
0  citation
1  citation
2  citation
3  citation
4  citation
         date subject_race      time subject_sex frisk_performed
0  2010-10-10        black       NaN        male           False  \
1  2010-10-10        white  10:00:00        male           False
2  2010-10-10        white  10:00:00        male           False
3  2010-10-10        white  22:00:00        male           False
4  2010-10-10        black  01:00:00        male           False

  search_conducted search_person raw_driver_searched
0            False         False               False  \
1            False         False               False
2            False         False               False
3            False         False               False
4             True          True                True

                     violation warning_issued citation_issued   outcome
0           investigative stop           True           False   warning
1     moving traffic violation          False            True  citation
2  vehicle equipment violation           True           False   warning
3                 registration           True           False   warning
4  vehicle equipment violation           True           False   warning

In [43]:
print(mydf.isnull().sum())

print(mydf2.isnull().sum())

date                  225
subject_race        30569
time                  828
subject_sex          5976
raw_SEX_IND             0
violation          296022
citation_issued         0
outcome                 0
dtype: int64
date                       0
subject_race            1850
time                    5467
subject_sex            12822
frisk_performed           22
search_conducted          39
search_person             43
raw_driver_searched       30
violation                  0
warning_issued           337
citation_issued          320
outcome                 1935
dtype: int64

In [44]:
# remove all rows with missing values
mydf.dropna(inplace=True)
mydf2.dropna(inplace=True)

C:\Users\kelly\AppData\Local\Temp\ipykernel_13764\4239197180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf.dropna(inplace=True)
C:\Users\kelly\AppData\Local\Temp\ipykernel_13764\4239197180.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mydf2.dropna(inplace=True)

In [45]:
# see missing values as a percentage of the total values
print(mydf.isnull().sum()/mydf.shape[0])
print(mydf2.isnull().sum()/mydf2.shape[0])

date               0.0
subject_race       0.0
time               0.0
subject_sex        0.0
raw_SEX_IND        0.0
violation          0.0
citation_issued    0.0
outcome            0.0
dtype: float64
date                   0.0
subject_race           0.0
time                   0.0
subject_sex            0.0
frisk_performed        0.0
search_conducted       0.0
search_person          0.0
raw_driver_searched    0.0
violation              0.0
warning_issued         0.0
citation_issued        0.0
outcome                0.0
dtype: float64

In [ ]:
# now that we have removed the missing values, we can change the data types of the columns
mydf['date'] = pd.to_datetime(mydf['date'])
mydf['date'] = mydf['date'].dt.date

# change time type to dateTime
mydf['time'] = pd.to_datetime(mydf['time'])
mydf['time'] = mydf['time'].dt.time

In [46]:
# check the types of the values in the columns
for i in mydf.columns:
    print(i)
    print(type(mydf[i][0]))

date
<class 'datetime.date'>
subject_race
<class 'str'>
time
<class 'datetime.time'>
subject_sex
<class 'str'>
raw_SEX_IND
<class 'str'>
violation
<class 'str'>
citation_issued
<class 'numpy.bool_'>
outcome
<class 'str'>

In [49]:
# merge the 2 dataframes with a full outer join

df = pd.merge(mydf, mydf2, how='outer')

print(df.head())

         date subject_race      time subject_sex raw_SEX_IND violation
0  2009-05-23        white  12:00:00        male           M  Multiple  \
1  2009-05-23        white  12:00:00        male           M  Multiple
2  2009-05-23        white  12:00:00        male           M  Multiple
3  2009-05-23        white  12:00:00        male           M  Multiple
4  2009-05-23        white  12:00:00        male           M  Multiple

  citation_issued   outcome frisk_performed search_conducted search_person
0            True  citation             NaN              NaN           NaN  \
1            True  citation             NaN              NaN           NaN
2            True  citation             NaN              NaN           NaN
3            True  citation             NaN              NaN           NaN
4            True  citation             NaN              NaN           NaN

  raw_driver_searched warning_issued
0                 NaN            NaN
1                 NaN            NaN
2                 NaN            NaN
3                 NaN            NaN
4                 NaN            NaN

In [50]:
# check for missing values
print(df.isnull().sum())

date                         0
subject_race                 0
time                         0
subject_sex                  0
raw_SEX_IND            3071904
violation                    0
citation_issued              0
outcome                      0
frisk_performed        3505453
search_conducted       3505453
search_person          3505453
raw_driver_searched    3505453
warning_issued         3505453
dtype: int64

In [65]:
# send df_tn_statewide to database using pyodbc
import pyodbc

# create a connection string
# connect to the Northwind database with the following credentials

server = 'localhost,1433'
database = 'New'

username = 'sa'
password = 'yourStrong(!)Password'

docker_SQL_server = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

cursor = docker_SQL_server.cursor()

cursor.execute("SELECT @@version;") 
row = cursor.fetchone()
print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>',)

In [1]:
#df.to_sql('tennessee', docker_SQL_server, if_exists='replace', index=False)

# use sql alchemy to send the dataframe to the database
import sqlalchemy
engine = sqlalchemy.create_engine("mssql+pyodbc://sa:yourStrong(!)Password@localhost/New?driver=ODBC+Driver+17+for+SQL+Server")
df.to_sql('tennessee', engine, if_exists='replace', index=False)

# check the table
cursor.execute("SELECT * FROM tennessee;")
row = cursor.fetchone()
print(row)

NameError: name 'df' is not defined

In [62]:
# upload the dataframe to database New in table tennessee
# create sql query to insert df into the database
sql_query = "INSERT INTO tennessee VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"


cursor.execute("USE New;")
#cursor.execute("CREATE TABLE tennessee;")





print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>',)