In [2]:

# install pyodbc on python 3.10.11
# https://stackoverflow.com/questions/67660014/pyodbc-installation-error-on-python-3-10-0

# !pip install pandas
# !pip install numpy
# !pip install matplotlib
# !pip install seaborn
# !pip install json
# !pip install pyodbc

import pandas as pd
import pyodbc

drivers=pyodbc.drivers()

for i in drivers:
    print(i)

SQL Server

In [6]:
# connect to the SQL server creating a database with the following credentials

server = 'localhost,1433'

database = 'New'

username = 'sa'

password = 'yourStrong(!)Password'

docker_New = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

cursor = docker_New.cursor()

cursor.execute("SELECT @@version;") 

row = cursor.fetchone()

print(row)

('Microsoft Azure SQL Edge Developer (RTM) - 15.0.2000.1574 (X64) \n\tJan 25 2023 11:33:34 \n\tCopyright (C) 2019 Microsoft Corporation\n\tLinux (Ubuntu 18.04.6 LTS) <X64>',)

In [20]:

my_cursor = pd.DataFrame(cursor.execute("SELECT * FROM Customers;"))
# for i in my_cursor.iterrows():
#     print(i)

# print(type(my_cursor))
print(my_cursor)

                                                    0
0   [ALFKI, Alfreds Futterkiste, Maria Anders, Sal...
1   [ANATR, Ana Trujillo Emparedados y helados, An...
2   [ANTON, Antonio Moreno Taquería, Antonio Moren...
3   [AROUT, Around the Horn, Thomas Hardy, Sales R...
4   [BERGS, Berglunds snabbköp, Christina Berglund...
..                                                ...
86  [WARTH, Wartian Herkku, Pirkko Koskitalo, Acco...
87  [WELLI, Wellington Importadora, Paula Parente,...
88  [WHITC, White Clover Markets, Karl Jablonski, ...
89  [WILMK, Wilman Kala, Matti Karttunen, Owner/Ma...
90  [WOLZA, Wolski  Zajazd, Zbyszek Piestrzeniewic...

[91 rows x 1 columns]

In [22]:
# another style

cursor.execute("SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME= N'Customers';")

rows=cursor.fetchall()

df = pd.DataFrame([tuple(row) for row in rows], columns=[column[0] for column in cursor.description])
print(df)

   TABLE_CATALOG TABLE_SCHEMA TABLE_NAME   COLUMN_NAME  ORDINAL_POSITION
0      Northwind          dbo  Customers    CustomerID                 1  \
1      Northwind          dbo  Customers   CompanyName                 2
2      Northwind          dbo  Customers   ContactName                 3
3      Northwind          dbo  Customers  ContactTitle                 4
4      Northwind          dbo  Customers       Address                 5
5      Northwind          dbo  Customers          City                 6
6      Northwind          dbo  Customers        Region                 7
7      Northwind          dbo  Customers    PostalCode                 8
8      Northwind          dbo  Customers       Country                 9
9      Northwind          dbo  Customers         Phone                10
10     Northwind          dbo  Customers           Fax                11

   COLUMN_DEFAULT IS_NULLABLE DATA_TYPE  CHARACTER_MAXIMUM_LENGTH
0            None          NO     nchar                         5  \
1            None          NO  nvarchar                        40
2            None         YES  nvarchar                        30
3            None         YES  nvarchar                        30
4            None         YES  nvarchar                        60
5            None         YES  nvarchar                        15
6            None         YES  nvarchar                        15
7            None         YES  nvarchar                        10
8            None         YES  nvarchar                        15
9            None         YES  nvarchar                        24
10           None         YES  nvarchar                        24

    CHARACTER_OCTET_LENGTH  ... DATETIME_PRECISION CHARACTER_SET_CATALOG
0                       10  ...               None                  None  \
1                       80  ...               None                  None
2                       60  ...               None                  None
3                       60  ...               None                  None
4                      120  ...               None                  None
5                       30  ...               None                  None
6                       30  ...               None                  None
7                       20  ...               None                  None
8                       30  ...               None                  None
9                       48  ...               None                  None
10                      48  ...               None                  None

   CHARACTER_SET_SCHEMA CHARACTER_SET_NAME COLLATION_CATALOG COLLATION_SCHEMA
0                  None            UNICODE              None             None  \
1                  None            UNICODE              None             None
2                  None            UNICODE              None             None
3                  None            UNICODE              None             None
4                  None            UNICODE              None             None
5                  None            UNICODE              None             None
6                  None            UNICODE              None             None
7                  None            UNICODE              None             None
8                  None            UNICODE              None             None
9                  None            UNICODE              None             None
10                 None            UNICODE              None             None

                  COLLATION_NAME DOMAIN_CATALOG DOMAIN_SCHEMA DOMAIN_NAME
0   SQL_Latin1_General_CP1_CI_AS           None          None        None
1   SQL_Latin1_General_CP1_CI_AS           None          None        None
2   SQL_Latin1_General_CP1_CI_AS           None          None        None
3   SQL_Latin1_General_CP1_CI_AS           None          None        None
4   SQL_Latin1_General_CP1_CI_AS           None          None        None
5   SQL_Latin1_General_CP1_CI_AS           None          None        None
6   SQL_Latin1_General_CP1_CI_AS           None          None        None
7   SQL_Latin1_General_CP1_CI_AS           None          None        None
8   SQL_Latin1_General_CP1_CI_AS           None          None        None
9   SQL_Latin1_General_CP1_CI_AS           None          None        None
10  SQL_Latin1_General_CP1_CI_AS           None          None        None

[11 rows x 23 columns]

In [5]:
cursor.execute("SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME= N'Customers';")

rows=cursor.fetchall()

for row in rows:

    print(row)

('Northwind', 'dbo', 'Customers', 'CustomerID', 1, None, 'NO', 'nchar', 5, 10, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'CompanyName', 2, None, 'NO', 'nvarchar', 40, 80, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'ContactName', 3, None, 'YES', 'nvarchar', 30, 60, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'ContactTitle', 4, None, 'YES', 'nvarchar', 30, 60, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Address', 5, None, 'YES', 'nvarchar', 60, 120, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'City', 6, None, 'YES', 'nvarchar', 15, 30, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Region', 7, None, 'YES', 'nvarchar', 15, 30, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'PostalCode', 8, None, 'YES', 'nvarchar', 10, 20, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Country', 9, None, 'YES', 'nvarchar', 15, 30, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Phone', 10, None, 'YES', 'nvarchar', 24, 48, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)
('Northwind', 'dbo', 'Customers', 'Fax', 11, None, 'YES', 'nvarchar', 24, 48, None, None, None, None, None, None, 'UNICODE', None, None, 'SQL_Latin1_General_CP1_CI_AS', None, None, None)

In [19]:
# read a tab;e as a pandas dataframe

df_cust = pd.read_sql_query("SELECT * FROM Customers;", docker_Northwind)

C:\Users\mrkel\AppData\Local\Temp\ipykernel_12948\1258928602.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_cust = pd.read_sql_query("SELECT * FROM Customers;", docker_Northwind)

In [ ]:
# write a dataframe to a table in our sql server

df_cust.to_sql("Test_from_Python", docker_Northwind, if_exists='replace', index=False)