In [22]:
# airbnb data EDA

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('listings.csv')
print("The data set has {} rows and {} columns".format(df.shape[0], df.shape[1]))
display(df.describe())
display(df.head())
display(df.dtypes.value_counts())

The data set has 3818 rows and 92 columns

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
count,3.818000e+03,3.818000e+03,3.818000e+03,3816.000000,3816.000000,3818.000000,3818.000000,3818.000000,3802.000000,3812.000000,...,3171.000000,3160.000000,3165.000000,3160.000000,3167.000000,3163.000000,3162.000000,0.0,3818.000000,3191.000000
mean,5.550111e+06,2.016010e+13,1.578556e+07,7.157757,7.157757,47.628961,-122.333103,3.349398,1.259469,1.307712,...,94.539262,9.636392,9.556398,9.786709,9.809599,9.608916,9.452245,NaN,2.946307,2.078919
std,2.962660e+06,0.000000e+00,1.458382e+07,28.628149,28.628149,0.043052,0.031745,1.977599,0.590369,0.883395,...,6.606083,0.698031,0.797274,0.595499,0.568211,0.629053,0.750259,NaN,5.893029,1.822348
min,3.335000e+03,2.016010e+13,4.193000e+03,1.000000,1.000000,47.505088,-122.417219,1.000000,0.000000,0.000000,...,20.000000,2.000000,3.000000,2.000000,2.000000,4.000000,2.000000,NaN,1.000000,0.020000
25%,3.258256e+06,2.016010e+13,3.275204e+06,1.000000,1.000000,47.609418,-122.354320,2.000000,1.000000,1.000000,...,93.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,NaN,1.000000,0.695000
50%,6.118244e+06,2.016010e+13,1.055814e+07,1.000000,1.000000,47.623601,-122.328874,3.000000,1.000000,1.000000,...,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,1.000000,1.540000
75%,8.035127e+06,2.016010e+13,2.590309e+07,3.000000,3.000000,47.662694,-122.310800,4.000000,1.000000,2.000000,...,99.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,2.000000,3.000000
max,1.034016e+07,2.016010e+13,5.320861e+07,502.000000,502.000000,47.733358,-122.240607,16.000000,8.000000,7.000000,...,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,NaN,37.000000,12.150000

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

object     62
float64    17
int64      13
Name: count, dtype: int64

In [25]:
# separate the numerical and categorical columns

df.dtypes == 'object'

id                                  False
listing_url                          True
scrape_id                           False
last_scraped                         True
name                                 True
                                    ...
cancellation_policy                  True
require_guest_profile_picture        True
require_guest_phone_verification     True
calculated_host_listings_count      False
reviews_per_month                   False
Length: 92, dtype: bool

In [26]:
num_vars = df.columns[df.dtypes != 'object']
cat_vars = df.columns[df.dtypes == 'object']

print("The numerical columns are: {}".format(num_vars))
print("The categorical columns are: {}".format(cat_vars))

The numerical columns are: Index(['id', 'scrape_id', 'host_id', 'host_listings_count',
       'host_total_listings_count', 'latitude', 'longitude', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'square_feet', 'guests_included',
       'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')
The categorical columns are: Index(['listing_url', 'last_scraped', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighborhood_overview', 'notes',
       'transit', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'is_location_exact',
       'property_type', 'room_type', 'bed_type', 'amenities', 'price',
       'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee',
       'extra_people', 'calendar_updated', 'has_availability',
       'calendar_last_scraped', 'first_review', 'last_review',
       'requires_license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification'],
      dtype='object')

In [27]:
print(df[num_vars])

print(len(df[num_vars].columns))

            id       scrape_id   host_id  host_listings_count
0       241032  20160104002432    956883                  3.0  \
1       953595  20160104002432   5177328                  6.0
2      3308979  20160104002432  16708587                  2.0
3      7421966  20160104002432   9851441                  1.0
4       278830  20160104002432   1452570                  2.0
...        ...             ...       ...                  ...
3813   8101950  20160104002432  31148752                354.0
3814   8902327  20160104002432  46566046                  1.0
3815  10267360  20160104002432  52791370                  1.0
3816   9604740  20160104002432  25522052                  1.0
3817  10208623  20160104002432  14703116                  1.0

      host_total_listings_count   latitude   longitude  accommodates
0                           3.0  47.636289 -122.371025             4  \
1                           6.0  47.639123 -122.365666             4
2                           2.0  47.629724 -122.369483            11
3                           1.0  47.638473 -122.369279             3
4                           2.0  47.632918 -122.372471             6
...                         ...        ...         ...           ...
3813                      354.0  47.664295 -122.359170             6
3814                        1.0  47.649552 -122.318309             4
3815                        1.0  47.508453 -122.240607             2
3816                        1.0  47.632335 -122.275530             2
3817                        1.0  47.641186 -122.342085             3

      bathrooms  bedrooms  ...  review_scores_rating  review_scores_accuracy
0           1.0       1.0  ...                  95.0                    10.0  \
1           1.0       1.0  ...                  96.0                    10.0
2           4.5       5.0  ...                  97.0                    10.0
3           1.0       0.0  ...                   NaN                     NaN
4           2.0       3.0  ...                  92.0                     9.0
...         ...       ...  ...                   ...                     ...
3813        2.0       3.0  ...                  80.0                     8.0
3814        1.0       1.0  ...                 100.0                    10.0
3815        1.0       1.0  ...                   NaN                     NaN
3816        1.0       0.0  ...                   NaN                     NaN
3817        1.5       2.0  ...                   NaN                     NaN

      review_scores_cleanliness  review_scores_checkin
0                          10.0                   10.0  \
1                          10.0                   10.0
2                          10.0                   10.0
3                           NaN                    NaN
4                           9.0                   10.0
...                         ...                    ...
3813                       10.0                    4.0
3814                       10.0                   10.0
3815                        NaN                    NaN
3816                        NaN                    NaN
3817                        NaN                    NaN

      review_scores_communication  review_scores_location
0                            10.0                     9.0  \
1                            10.0                    10.0
2                            10.0                    10.0
3                             NaN                     NaN
4                            10.0                     9.0
...                           ...                     ...
3813                          8.0                    10.0
3814                         10.0                    10.0
3815                          NaN                     NaN
3816                          NaN                     NaN
3817                          NaN                     NaN

      review_scores_value  license  calculated_host_listings_count
0                    10.0      NaN                               2  \
1                    10.0      NaN                               6
2                    10.0      NaN                               2
3                     NaN      NaN                               1
4                     9.0      NaN                               1
...                   ...      ...                             ...
3813                  8.0      NaN                               8
3814                 10.0      NaN                               1
3815                  NaN      NaN                               1
3816                  NaN      NaN                               1
3817                  NaN      NaN                               1

      reviews_per_month
0                  4.07
1                  1.48
2                  1.15
3                   NaN
4                  0.89
...                 ...
3813               0.30
3814               2.00
3815                NaN
3816                NaN
3817                NaN

[3818 rows x 30 columns]
30

In [28]:
df[num_vars].isnull()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,calculated_host_listings_count,reviews_per_month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3814,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3815,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
3816,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True
3817,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,False,True

In [29]:
df[num_vars].isnull().sum()

id                                   0
scrape_id                            0
host_id                              0
host_listings_count                  2
host_total_listings_count            2
latitude                             0
longitude                            0
accommodates                         0
bathrooms                           16
bedrooms                             6
beds                                 1
square_feet                       3721
guests_included                      0
minimum_nights                       0
maximum_nights                       0
availability_30                      0
availability_60                      0
availability_90                      0
availability_365                     0
number_of_reviews                    0
review_scores_rating               647
review_scores_accuracy             658
review_scores_cleanliness          653
review_scores_checkin              658
review_scores_communication        651
review_scores_location             655
review_scores_value                656
license                           3818
calculated_host_listings_count       0
reviews_per_month                  627
dtype: int64

In [30]:
missing = df[num_vars].isnull().sum().sort_values(ascending=False)
print(missing)

license                           3818
square_feet                       3721
review_scores_accuracy             658
review_scores_checkin              658
review_scores_value                656
review_scores_location             655
review_scores_cleanliness          653
review_scores_communication        651
review_scores_rating               647
reviews_per_month                  627
bathrooms                           16
bedrooms                             6
host_total_listings_count            2
host_listings_count                  2
beds                                 1
availability_365                     0
calculated_host_listings_count       0
number_of_reviews                    0
id                                   0
availability_90                      0
availability_60                      0
scrape_id                            0
maximum_nights                       0
minimum_nights                       0
guests_included                      0
accommodates                         0
longitude                            0
latitude                             0
host_id                              0
availability_30                      0
dtype: int64

In [31]:
df[num_vars].isnull().sum().sort_values(ascending=False)/len(df)

license                           1.000000
square_feet                       0.974594
review_scores_accuracy            0.172342
review_scores_checkin             0.172342
review_scores_value               0.171818
review_scores_location            0.171556
review_scores_cleanliness         0.171032
review_scores_communication       0.170508
review_scores_rating              0.169460
reviews_per_month                 0.164222
bathrooms                         0.004191
bedrooms                          0.001572
host_total_listings_count         0.000524
host_listings_count               0.000524
beds                              0.000262
availability_365                  0.000000
calculated_host_listings_count    0.000000
number_of_reviews                 0.000000
id                                0.000000
availability_90                   0.000000
availability_60                   0.000000
scrape_id                         0.000000
maximum_nights                    0.000000
minimum_nights                    0.000000
guests_included                   0.000000
accommodates                      0.000000
longitude                         0.000000
latitude                          0.000000
host_id                           0.000000
availability_30                   0.000000
dtype: float64

In [45]:

oringinal_len = len(missing)
print(oringinal_len)

30

In [33]:
# conclusion the above shows how to find the missing values in the data set
# isnull() identifies missing values in the data frame
# sum() sums up the missing values in each column
# sort_values() sorts the missing values in descending order
# len() gives the length of the data frame

In [34]:
print(df[num_vars])

print(len(df[num_vars].columns))

            id       scrape_id   host_id  host_listings_count
0       241032  20160104002432    956883                  3.0  \
1       953595  20160104002432   5177328                  6.0
2      3308979  20160104002432  16708587                  2.0
3      7421966  20160104002432   9851441                  1.0
4       278830  20160104002432   1452570                  2.0
...        ...             ...       ...                  ...
3813   8101950  20160104002432  31148752                354.0
3814   8902327  20160104002432  46566046                  1.0
3815  10267360  20160104002432  52791370                  1.0
3816   9604740  20160104002432  25522052                  1.0
3817  10208623  20160104002432  14703116                  1.0

      host_total_listings_count   latitude   longitude  accommodates
0                           3.0  47.636289 -122.371025             4  \
1                           6.0  47.639123 -122.365666             4
2                           2.0  47.629724 -122.369483            11
3                           1.0  47.638473 -122.369279             3
4                           2.0  47.632918 -122.372471             6
...                         ...        ...         ...           ...
3813                      354.0  47.664295 -122.359170             6
3814                        1.0  47.649552 -122.318309             4
3815                        1.0  47.508453 -122.240607             2
3816                        1.0  47.632335 -122.275530             2
3817                        1.0  47.641186 -122.342085             3

      bathrooms  bedrooms  ...  review_scores_rating  review_scores_accuracy
0           1.0       1.0  ...                  95.0                    10.0  \
1           1.0       1.0  ...                  96.0                    10.0
2           4.5       5.0  ...                  97.0                    10.0
3           1.0       0.0  ...                   NaN                     NaN
4           2.0       3.0  ...                  92.0                     9.0
...         ...       ...  ...                   ...                     ...
3813        2.0       3.0  ...                  80.0                     8.0
3814        1.0       1.0  ...                 100.0                    10.0
3815        1.0       1.0  ...                   NaN                     NaN
3816        1.0       0.0  ...                   NaN                     NaN
3817        1.5       2.0  ...                   NaN                     NaN

      review_scores_cleanliness  review_scores_checkin
0                          10.0                   10.0  \
1                          10.0                   10.0
2                          10.0                   10.0
3                           NaN                    NaN
4                           9.0                   10.0
...                         ...                    ...
3813                       10.0                    4.0
3814                       10.0                   10.0
3815                        NaN                    NaN
3816                        NaN                    NaN
3817                        NaN                    NaN

      review_scores_communication  review_scores_location
0                            10.0                     9.0  \
1                            10.0                    10.0
2                            10.0                    10.0
3                             NaN                     NaN
4                            10.0                     9.0
...                           ...                     ...
3813                          8.0                    10.0
3814                         10.0                    10.0
3815                          NaN                     NaN
3816                          NaN                     NaN
3817                          NaN                     NaN

      review_scores_value  license  calculated_host_listings_count
0                    10.0      NaN                               2  \
1                    10.0      NaN                               6
2                    10.0      NaN                               2
3                     NaN      NaN                               1
4                     9.0      NaN                               1
...                   ...      ...                             ...
3813                  8.0      NaN                               8
3814                 10.0      NaN                               1
3815                  NaN      NaN                               1
3816                  NaN      NaN                               1
3817                  NaN      NaN                               1

      reviews_per_month
0                  4.07
1                  1.48
2                  1.15
3                   NaN
4                  0.89
...                 ...
3813               0.30
3814               2.00
3815                NaN
3816                NaN
3817                NaN

[3818 rows x 30 columns]
30

In [35]:
# lets check the shape of the data before we go on
df.shape

(3818, 92)

In [36]:
# deleting rows and columns with too many missing values to imput

# delete columns license square_feet monthly_price security_deposit weekly price
# cleaning the data set

df.drop(['license', 'square_feet', 'monthly_price', 'security_deposit', 'weekly_price'], axis=1, inplace=True)

# update the num_vars variable with current numerical columns
num_vars = df.columns[df.dtypes != 'object']
cat_vars = df.columns[df.dtypes == 'object']


print(df.shape)

(3818, 87)

In [37]:
df.isnull().sum().sort_values(ascending=False)/len(df)

notes                    0.420639
neighborhood_overview    0.270299
cleaning_fee             0.269775
transit                  0.244631
host_about               0.224987
                           ...
room_type                0.000000
accommodates             0.000000
bed_type                 0.000000
amenities                0.000000
country_code             0.000000
Length: 87, dtype: float64

In [38]:
# delete rows with na in the host_name column
df = df.dropna(subset=['host_name'], how='any', axis=0)

# update the num_vars variable with current numerical columns
num_vars = df.columns[df.dtypes != 'object']

In [39]:
# imputing data

In [40]:
# imputing numerical values with mean
fill_mean = lambda col: col.fillna(col.mean())

# apply the function to the data frame with nmbnerical columns
df[num_vars] = df[num_vars].apply(fill_mean)

In [41]:
# imputation for categorical variables

# fill missing values in the cat_vars with the 'Missing Data
df[cat_vars] = df[cat_vars].fillna('Missing Data')

In [42]:
df.isnull().sum().sort_values(ascending=False)/len(df)

id                      0.0
amenities               0.0
has_availability        0.0
calendar_updated        0.0
maximum_nights          0.0
                       ...
host_picture_url        0.0
host_thumbnail_url      0.0
host_is_superhost       0.0
host_acceptance_rate    0.0
reviews_per_month       0.0
Length: 87, dtype: float64

In [43]:
# now we have no missing values in the data set

In [44]:
# Conclusion on how to handle missing values in the dataset
# 1. delete columns with too many missing values
# 2. impute numerical values with mean
# 3. impute categorical values with 'Missing Data'

# we cold use iterative imputer to develop a model to predict missing values in each of the features