In [4]:
# Pandas Assignment. Week 4 Day 1

import pandas as pd

#Assignment: Â 

# Pre-defined lists

country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']

drives_right = [True, False, False, False, True, True, True]

cars_per_cap = [809, 731, 588, 18, 200, 70, 45]

row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

In [3]:
#step1: Create dictionary my_dict with three key:value pairs: my_dict

my_dict = {'country':country, 'drives_right':drives_right, 'cars_per_cap':cars_per_cap}
print(my_dict)

{'country': ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt'], 'drives_right': [True, False, False, False, True, True, True], 'cars_per_cap': [809, 731, 588, 18, 200, 70, 45]}

In [7]:
#step2 Build a DataFrame cars from my_dict: cars

cars = pd.DataFrame(my_dict)

In [6]:
#step3 print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [14]:
#step4 specify a new column for index
cars.index = row_labels

In [ ]:
#step5 print cars again
print(cars)

In [18]:
#step6 Print out country column as Pandas Series
print(cars['country'])
print(type(cars['country']))

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
<class 'pandas.core.series.Series'>

In [19]:
#step7 Print out country column as Pandas DataFrame
print(cars[['country']])
print(type(cars[['country']]))

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
<class 'pandas.core.frame.DataFrame'>

In [10]:
#step8 Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

         country  drives_right
0  United States          True
1      Australia         False
2          Japan         False
3          India         False
4         Russia          True
5        Morocco          True
6          Egypt          True

In [11]:
#step9 Print out first 3 observations
# can also use .iloc 
print(cars[:3])

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588

In [12]:
#step10 Print out fourth, fifth and sixth observation
print(cars[3:6]) # start from zero, 6 is not included

   country  drives_right  cars_per_cap
3    India         False            18
4   Russia          True           200
5  Morocco          True            70

In [15]:
#step11 Print out observation for Japan
print(cars.loc['JPN'])

country         Japan
drives_right    False
cars_per_cap      588
Name: JPN, dtype: object

In [16]:
#step12 Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

       country  drives_right  cars_per_cap
AUS  Australia         False           731
EG       Egypt          True            45

In [17]:
#step13 Print out drives_right value of Morocco
print(cars.loc[['MOR'], ['drives_right']])

     drives_right
MOR          True