In [ ]:
# Pandas Dataframe Exercises from W3resource.com

In [1]:
import pandas as pd
import numpy as np

In [2]:



exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [ ]:
# 3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

In [ ]:
# 4. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [ ]:
# 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [ ]:
# 6. Write a Pandas program to select the specified columns and rows from a given data frame.

In [ ]:
# 7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [ ]:
# 8. Write a Pandas program to count the number of rows and columns of a DataFrame

In [ ]:
# 9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [ ]:
# 10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive)

In [ ]:
# 11. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

In [ ]:
# 12. Write a Pandas program to change the score in row 'd' to 11.5.

In [ ]:
# 13. Write a Pandas program to calculate the sum of the examination attempts by the students.

In [ ]:
# 14. Write a Pandas program to calculate the mean of all students' scores. Data is stored in a dataframe

In [ ]:
# 15. Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

In [ ]:
# 16. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [ ]:
# 17. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

In [ ]:
# 18. Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.

In [ ]:
# 19. Write a Pandas program to delete the 'attempts' column from the DataFrame

In [ ]:
# 20. Write a Pandas program to insert a new column in existing DataFrame.

In [ ]:
# 21. Write a Pandas program to iterate over rows in a DataFrame.

In [ ]:
# 22. Write a Pandas program to get list from DataFrame column headers

In [ ]:
# 23. Write a Pandas program to rename columns of a given DataFrame

import pandas as pd
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

In [ ]:
# 24. Write a Pandas program to select rows from a given DataFrame based on values in some columns.

In [ ]:
# 25. Write a Pandas program to change the order of a DataFrame columns.

In [ ]:
# 26. Write a Pandas program to add one row in an existing DataFrame

In [ ]:
# 27. Write a Pandas program to write a DataFrame to CSV file using tab separator.

In [ ]:
# 28. Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).

In [ ]:
# 29. Write a Pandas program to delete DataFrame row(s) based on given column value

In [ ]:
# 30. Write a Pandas program to widen output display to see more columns.

In [ ]:
# 31. Write a Pandas program to select a row of series/dataframe by given integer index.

In [ ]:
# 32. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.

In [ ]:
# 33. Write a Pandas program to convert index in a column of the given dataframe.

In [ ]:
# 34. Write a Pandas program to set a given value for particular cell in  DataFrame using index value

In [ ]:
# 35. Write a Pandas program to count the NaN values in one or more columns in DataFrame.

In [ ]:
# 36. Write a Pandas program to drop a list of rows from a specified DataFrame.

In [ ]:
# 37. Write a Pandas program to reset index in a given DataFrame.

In [ ]:
# 38. Write a Pandas program to divide a DataFrame in a given ratio.

In [ ]:
# 39. Write a Pandas program to combining two series into a DataFrame.

In [ ]:
# 40. Write a Pandas program to shuffle a given DataFrame rows.

In [ ]:
# 41. Write a Pandas program to convert DataFrame column type from string to datetime

In [ ]:
# 42. Write a Pandas program to rename a specific column name in a given DataFrame.

In [ ]:
# 43. Write a Pandas program to get a list of a specified column of a DataFrame.

In [ ]:
# 44. Write a Pandas program to create a DataFrame from a Numpy array and specify the index column and column headers.

In [ ]:
# 45. Write a Pandas program to find the row for where the value of a given column is maximum.

In [ ]:
# 46. Write a Pandas program to check whether a given column is present in a DataFrame or not.

In [ ]:
# 47. Write a Pandas program to get the specified row value of a given DataFrame.

In [ ]:
# 48. Write a Pandas program to get the datatypes of columns of a DataFrame

In [ ]:
# 49. Write a Pandas program to append data to an empty DataFrame.

In [ ]:
# 50. Write a Pandas program to sort a given DataFrame by two or more columns.

In [ ]:
# 51. Write a Pandas program to convert the datatype of a given column (floats to ints).

In [ ]:
# 52. Write a Pandas program to remove infinite values from a given DataFrame

In [ ]:
# 53. Write a Pandas program to insert a given column at a specific column index in a DataFrame.

In [ ]:
# 54. Write a Pandas program to convert a given list of lists into a Dataframe

In [ ]:
# 55. Write a Pandas program to group by the first column and get second column as lists in rows.

In [ ]:
# 56. Write a Pandas program to get column index from column name of a given DataFrame.

In [ ]:
# 57. Write a Pandas program to count number of columns of a DataFrame.

In [ ]:
# 58. Write a Pandas program to select all columns, except one given column in a DataFrame.

In [ ]:
# 59. Write a Pandas program to get first n records of a DataFrame.

In [ ]:
# 60. Write a Pandas program to get last n records of a DataFrame.

In [ ]:
# 61. Write a Pandas program to get topmost n records within each group of a DataFrame.

In [ ]:
# 62. Write a Pandas program to remove first n rows of a given DataFrame

In [ ]:
# 63. Write a Pandas program to remove last n rows of a given DataFrame.

In [ ]:
# 64. Write a Pandas program to add a prefix or suffix to all columns of a given DataFra

In [ ]:
# 65. Write a Pandas program to reverse order (rows, columns) of a given DataFrame.

In [ ]:
# 66. Write a Pandas program to select columns by data type of a given DataFrame.

In [ ]:
# 67. Write a Pandas program to split a given DataFrame into two random subsets.

In [ ]:
# 68. Write a Pandas program to rename all columns with the same pattern of a given DataFrame.

In [ ]:
# 69. Write a Pandas program to merge datasets and check uniqueness

In [ ]:
# 70. Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.

In [ ]:
# 71. Write a Pandas program to display memory usage of a given DataFrame and every column of the DataFrame.

In [ ]:
# 72. Write a Pandas program to combine many given series to create a DataFrame.

In [ ]:
# 73. Write a Pandas program to create DataFrames that contains random values, contains missing values, contains datetime values and contains mixed values.

In [ ]:
# 74. Write a Pandas program to fill missing values in time series data.

In [ ]:
# 75. Write a Pandas program to use a local variable within a query.

In [ ]:
# 76. Write a Pandas program to clean object column with mixed data of a given DataFrame using regular expression.

In [ ]:
# 77. Write a Pandas program to get the numeric representation of an array by identifying distinct values of a given column of a dataframe.

In [ ]:
# 78. Write a Pandas program to replace the current value in a dataframe column based on last largest value. If the current value is less than last largest value replaces the value with 0.

In [ ]:
# 79. Write a Pandas program to create a DataFrame from the clipboard (data from an Excel spreadsheet or a Google Sheet)

In [ ]:
# 80. Write a Pandas program to check for inequality of two given DataFrames.

In [ ]:
# 81. Write a Pandas program to get lowest n records within each group of a given DataFrame.