In [1]:
# Pandas Dataframe Exercises from W3resource.com

In [2]:
import pandas as pd
import numpy as np

In [3]:



exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df_start = pd.DataFrame(exam_data , index=labels)
print(df_start)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
# 3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
print(df_start.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [5]:
# 4. Write a Pandas program to get the first 3 rows of a given DataFrame.
print(df_start.iloc[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [6]:
# 5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.
print(df_start[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [7]:
# 6. Write a Pandas program to select the specified columns and rows from a given data frame.
print(df_start.iloc[[1, 3, 5, 6], [1, 3]])

   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

In [8]:
# 7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
print(df_start[df_start['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [9]:
# 8. Write a Pandas program to count the number of rows and columns of a DataFrame
print(df_start.shape)

(10, 4)

In [10]:
# 9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.
print(df_start[df_start['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [11]:
# 10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive)
print(df_start[df_start['score'].between(15, 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [12]:
# 11. Write a Pandas program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.
print(df_start[(df_start['attempts'] < 2) & (df_start['score'] > 15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [13]:
# 12. Write a Pandas program to change the score in row 'd' to 11.5.
df_start.loc['d', 'score'] = 11.5

In [14]:
# 13. Write a Pandas program to calculate the sum of the examination attempts by the students.
print(df_start['attempts'].sum())

19

In [15]:
# 14. Write a Pandas program to calculate the mean of all students' scores. Data is stored in a dataframe
print(df_start['score'].mean())

13.333333333333334

In [16]:
# 15. Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
df_start.loc['k'] = ['Kelly',20 ,1,'yes']

In [17]:
# 16. Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.
print(df_start.sort_values(by=['name', 'score'], ascending=[False, True]))

        name  score  attempts qualify
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
k      Kelly   20.0         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
b       Dima    9.0         3      no
a  Anastasia   12.5         1     yes

In [18]:
# 17. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
df_start['qualify'] = df_start['qualify'].map({'yes': True, 'no': False})

In [19]:
# 18. Write a Pandas program to change the name 'James' to 'Suresh' in name column of the DataFrame.
df_start['name'] = df_start['name'].replace('James', 'Suresh')

In [20]:
# 19. Write a Pandas program to delete the 'attempts' column from the DataFrame
df_start.pop('attempts')

a    1
b    3
c    2
d    3
e    2
f    3
g    1
h    1
i    2
j    1
k    1
Name: attempts, dtype: int64

In [21]:
# 20. Write a Pandas program to insert a new column in existing DataFrame.
colour = ['Red','Blue','Orange','Red','White','White','Blue','Green','Green','Red','Black']
df_start['color'] = colour

In [22]:
# 21. Write a Pandas program to iterate over rows in a DataFrame.
for index, row in df_start.iterrows():
    print(row['name'], row['qualify'])

Anastasia True
Dima False
Katherine True
Suresh False
Emily False
Michael True
Matthew True
Laura False
Kevin False
Jonas True
Kelly True

In [23]:
# 22. Write a Pandas program to get list from DataFrame column headers
print(list(df_start.columns.values))

['name', 'score', 'qualify', 'color']

In [24]:
# 23. Write a Pandas program to rename columns of a given DataFrame

import pandas as pd
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [25]:
# 24. Write a Pandas program to select rows from a given DataFrame based on values in some columns.
print(df.loc[df['Column2'] == 4])

   Column1  Column2  Column3
0        1        4        7

In [26]:
# 25. Write a Pandas program to change the order of a DataFrame columns.
print(df[['Column3', 'Column2', 'Column1']])

   Column3  Column2  Column1
0        7        4        1
1        8        5        2
2        9        6        3

In [27]:
df.columns

Index(['Column1', 'Column2', 'Column3'], dtype='object')

In [28]:
# 26. Write a Pandas program to add one row in an existing DataFrame
df.columns = df.columns.str.strip()
df2 = {'Column1': 10, 'Column2': 11, 'Column3': 12}
df = df.append(df2)
print(df)
####### DOES NOT WORK ##########

AttributeError: 'DataFrame' object has no attribute 'append'

In [29]:
# 27. Write a Pandas program to write a DataFrame to CSV file using tab separator.
df.to_csv('ssave_to.csv', sep='\t')

In [30]:
# 28. Write a Pandas program to count city wise number of people from a given of data set (city, name of the person).

df2 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})
g1 = df2.groupby(["city"]).size().reset_index(name='Number of people')
print(g1)

          city  Number of people
0   California                 4
1      Georgia                 2
2  Los Angeles                 4

In [31]:
# 29. Write a Pandas program to delete DataFrame row(s) based on given column value
df_deleted_rows = df[df['Column2'] != 4]
print(df_deleted_rows)

   Column1  Column2  Column3
1        2        5        8
2        3        6        9

In [32]:
# 30. Write a Pandas program to widen output display to see more columns.

pd.set_option('display.max_columns', 500)

In [33]:
# 31. Write a Pandas program to select a row of series/dataframe by given integer index.

print(df.iloc[2]) # index number 2

Column1    3
Column2    6
Column3    9
Name: 2, dtype: int64

In [34]:
# 32. Write a Pandas program to replace all the NaN values with Zero's in a column of a dataframe.
df_start = df_start.fillna(0)
print(df_start)

        name  score  qualify   color
a  Anastasia   12.5     True     Red
b       Dima    9.0    False    Blue
c  Katherine   16.5     True  Orange
d     Suresh   11.5    False     Red
e      Emily    9.0    False   White
f    Michael   20.0     True   White
g    Matthew   14.5     True    Blue
h      Laura    0.0    False   Green
i      Kevin    8.0    False   Green
j      Jonas   19.0     True     Red
k      Kelly   20.0     True   Black

In [36]:
# 33. Write a Pandas program to convert index in a column of the given dataframe.

# drop any index

# convert index to column
df.reset_index(drop = True, level=0, inplace=True)
# hide index
df1_hidden_index = df.to_string(index=False)

print(df1_hidden_index)

 Column1  Column2  Column3
       1        4        7
       2        5        8
       3        6        9

In [49]:
# 34. Write a Pandas program to set a given value for particular cell in  DataFrame using index value


df_start.at[8, 'score'] = 10.2

#df_change_value = df_start.at[8, 'score'] = 10.2 

print(df_start)

########## DOES NOT WORK ###########

        name  score qualify   color
a  Anastasia   12.5    True     Red
b       Dima    9.0   False    Blue
c  Katherine   16.5    True  Orange
d     Suresh   11.5   False     Red
e      Emily    9.0   False   White
f    Michael   20.0    True   White
g    Matthew   14.5    True    Blue
h      Laura    0.0   False   Green
i      Kevin    8.0   False   Green
j      Jonas   19.0    True     Red
k      Kelly   20.0    True   Black
8        NaN   10.2     NaN     NaN

In [50]:
# 35. Write a Pandas program to count the NaN values in one or more columns in DataFrame.
df_start.isnull().sum()

name       1
score      0
qualify    1
color      1
dtype: int64

In [56]:
# 36. Write a Pandas program to drop a list of rows from a specified DataFrame.
nem_df = df_start.drop(['b', 'd'])
print(nem_df)

        name  score qualify   color
a  Anastasia   12.5    True     Red
c  Katherine   16.5    True  Orange
e      Emily    9.0   False   White
f    Michael   20.0    True   White
g    Matthew   14.5    True    Blue
h      Laura    0.0   False   Green
i      Kevin    8.0   False   Green
j      Jonas   19.0    True     Red
k      Kelly   20.0    True   Black
8        NaN   10.2     NaN     NaN

In [58]:
# 37. Write a Pandas program to reset index in a given DataFrame.
df_start.reset_index(drop=True, inplace=True)
print(df_start)

         name  score qualify   color
0   Anastasia   12.5    True     Red
1        Dima    9.0   False    Blue
2   Katherine   16.5    True  Orange
3      Suresh   11.5   False     Red
4       Emily    9.0   False   White
5     Michael   20.0    True   White
6     Matthew   14.5    True    Blue
7       Laura    0.0   False   Green
8       Kevin    8.0   False   Green
9       Jonas   19.0    True     Red
10      Kelly   20.0    True   Black
11        NaN   10.2     NaN     NaN

In [61]:
# 38. Write a Pandas program to divide a DataFrame in a given ratio.

df_dividing = pd.DataFrame(np.random.randn(10, 2))


percent_70 = df_dividing.sample(frac=0.7,random_state=10)

percent_30 = df_dividing.drop(percent_70.index)
print("\n70% of the said DataFrame:")
print(percent_70)
print("\n30% of the said DataFrame:")
print(percent_30)

70% of the said DataFrame:
          0         1
8  0.318237  0.325992
2 -0.830715 -1.306492
5 -0.713600  0.869697
6 -1.889676  1.076012
3 -2.524613 -0.501258
1 -0.549699  1.032776
0 -1.702354 -0.012111

30% of the said DataFrame:
          0         1
4 -0.422356  0.197193
7  1.097002  0.084747
9 -0.954918  0.760715

In [62]:
# 39. Write a Pandas program to combining two series into a DataFrame.
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.Series(['10', '20', 'php', '30.12', '40'])
df_combining = pd.concat([s1, s2], axis=1)

print(df_combining)

        0      1
0     100     10
1     200     20
2  python    php
3  300.12  30.12
4     400     40

In [71]:
# 40. Write a Pandas program to shuffle a given DataFrame rows.
df_shuffle = df_start.sample(frac=1)
print(df_shuffle)

         name  score qualify   color
1        Dima    9.0   False    Blue
5     Michael   20.0    True   White
10      Kelly   20.0    True   Black
9       Jonas   19.0    True     Red
4       Emily    9.0   False   White
0   Anastasia   12.5    True     Red
2   Katherine   16.5    True  Orange
6     Matthew   14.5    True    Blue

In [74]:
# 41. Write a Pandas program to convert DataFrame column type from string to datetime
df_date = pd.DataFrame({'date_of_birth': ['2019-01-15', '2019-02-28', '2019-03-18']})
print("Original DataFrame:")
print(df_date)
print(type(df_date))
print(type(df_date['date_of_birth'][0]))
df_date['date_of_birth'] = pd.to_datetime(df_date['date_of_birth'])

print("\nNew DataFrame:")
print(df_date)
print(type(df_date))
print(type(df_date['date_of_birth'][0]))

Original DataFrame:
  date_of_birth
0    2019-01-15
1    2019-02-28
2    2019-03-18
<class 'pandas.core.frame.DataFrame'>
<class 'str'>

New DataFrame:
  date_of_birth
0    2019-01-15
1    2019-02-28
2    2019-03-18
<class 'pandas.core.frame.DataFrame'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [ ]:
# 42. Write a Pandas program to rename a specific column name in a given DataFrame.

In [ ]:
# 43. Write a Pandas program to get a list of a specified column of a DataFrame.

In [ ]:
# 44. Write a Pandas program to create a DataFrame from a Numpy array and specify the index column and column headers.

In [ ]:
# 45. Write a Pandas program to find the row for where the value of a given column is maximum.

In [ ]:
# 46. Write a Pandas program to check whether a given column is present in a DataFrame or not.

In [ ]:
# 47. Write a Pandas program to get the specified row value of a given DataFrame.

In [ ]:
# 48. Write a Pandas program to get the datatypes of columns of a DataFrame

In [ ]:
# 49. Write a Pandas program to append data to an empty DataFrame.

In [ ]:
# 50. Write a Pandas program to sort a given DataFrame by two or more columns.

In [ ]:
# 51. Write a Pandas program to convert the datatype of a given column (floats to ints).

In [ ]:
# 52. Write a Pandas program to remove infinite values from a given DataFrame

In [ ]:
# 53. Write a Pandas program to insert a given column at a specific column index in a DataFrame.

In [ ]:
# 54. Write a Pandas program to convert a given list of lists into a Dataframe

In [ ]:
# 55. Write a Pandas program to group by the first column and get second column as lists in rows.

In [ ]:
# 56. Write a Pandas program to get column index from column name of a given DataFrame.

In [ ]:
# 57. Write a Pandas program to count number of columns of a DataFrame.

In [ ]:
# 58. Write a Pandas program to select all columns, except one given column in a DataFrame.

In [ ]:
# 59. Write a Pandas program to get first n records of a DataFrame.

In [ ]:
# 60. Write a Pandas program to get last n records of a DataFrame.

In [ ]:
# 61. Write a Pandas program to get topmost n records within each group of a DataFrame.

In [ ]:
# 62. Write a Pandas program to remove first n rows of a given DataFrame

In [ ]:
# 63. Write a Pandas program to remove last n rows of a given DataFrame.

In [ ]:
# 64. Write a Pandas program to add a prefix or suffix to all columns of a given DataFra

In [ ]:
# 65. Write a Pandas program to reverse order (rows, columns) of a given DataFrame.

In [ ]:
# 66. Write a Pandas program to select columns by data type of a given DataFrame.

In [ ]:
# 67. Write a Pandas program to split a given DataFrame into two random subsets.

In [ ]:
# 68. Write a Pandas program to rename all columns with the same pattern of a given DataFrame.

In [ ]:
# 69. Write a Pandas program to merge datasets and check uniqueness

In [ ]:
# 70. Write a Pandas program to convert continuous values of a column in a given DataFrame to categorical.

In [ ]:
# 71. Write a Pandas program to display memory usage of a given DataFrame and every column of the DataFrame.

In [ ]:
# 72. Write a Pandas program to combine many given series to create a DataFrame.

In [ ]:
# 73. Write a Pandas program to create DataFrames that contains random values, contains missing values, contains datetime values and contains mixed values.

In [ ]:
# 74. Write a Pandas program to fill missing values in time series data.

In [ ]:
# 75. Write a Pandas program to use a local variable within a query.

In [ ]:
# 76. Write a Pandas program to clean object column with mixed data of a given DataFrame using regular expression.

In [ ]:
# 77. Write a Pandas program to get the numeric representation of an array by identifying distinct values of a given column of a dataframe.

In [ ]:
# 78. Write a Pandas program to replace the current value in a dataframe column based on last largest value. If the current value is less than last largest value replaces the value with 0.

In [ ]:
# 79. Write a Pandas program to create a DataFrame from the clipboard (data from an Excel spreadsheet or a Google Sheet)

In [ ]:
# 80. Write a Pandas program to check for inequality of two given DataFrames.

In [ ]:
# 81. Write a Pandas program to get lowest n records within each group of a given DataFrame.